{% if object.status == 'error' %}
    <span readonly style="float: left; text-align: left">
        {{ object.reason | trans | capitalize }}
    </span>
{% elseif object.status != 'complete' %}
    <a class="btn btn-green disabled">
        {{ "See Details" | trans }}
    </a>
{% else %}
    <a class="btn btn-outline-green" href="{{ path('battery-intermediate_battery_list', {
        'filter': {
            'import__id' : {
                'value' : object.id
            }
        }
    }) }}">
        {{ "See Details" | trans }}
    </a>
{% endif %}
