.btn-color {
    background-color: #0e1c36;
    color: #fff;
}

.profile-image-pic {
    height: 125px;
    width: 125px;
    object-fit: fill;
}

.detail-page-logo {
    height: 50px;
    width: 50px;
    object-fit: fill;
}

.report-logo {
    height: 25px;
    width: 25px;
    object-fit: fill;
}

.cardbody-color {
    background-color: #ebf2fa;
}

.cardbody-color-white {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.ml-2 {
    margin-left: 0.5rem!important;
}

.ml-1 {
    margin-left: 0.3rem!important;
}

.float-right {
    float: right;
}

.p-rl-12 {
    padding: 0 12px;
}

.p-tb-5 {
    padding: 5px 0;
}

.mt-10 {
    margin-top: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.p-0 {
    padding: 0;
}

.back-to-home {
    text-decoration: none;
    text-underline: none;
}

.fit-width {
    width: fit-content;
}

.row-div {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 60px;
}

.div-captcha {
    display: flex;
    text-align: left;
    justify-content: left;
}

.scan-qr-div {
    border-radius: 10px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.pt-7 {
    padding-top: 7px;
}

.help-qr-code {
    position: absolute;
    top: calc(var(--bs-gutter-x) * .5);
    right: 0;
}

.m-0 {
    margin: 0;
}

.float-left {
    float: left;
}
