.btn-color {
    background-color: #0e1c36;
    color: #fff;
}

.profile-image-pic {
    height: 125px;
    width: 125px;
    object-fit: fill;
}

.detail-page-logo {
    height: 50px;
    width: 50px;
    object-fit: fill;
}

.report-logo {
    height: 25px;
    width: 25px;
    object-fit: fill;
}

.cardbody-color {
    background-color: #ebf2fa;
}

.cardbody-color-white {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.ml-2 {
    margin-left: 0.5rem!important;
}

.ml-1 {
    margin-left: 0.3rem!important;
}

.float-right {
    float: right;
}

.p-rl-12 {
    padding: 0 12px;
}

.p-tb-5 {
    padding: 5px 0;
}

.mt-10 {
    margin-top: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.p-0 {
    padding: 0;
}

.back-to-home {
    text-decoration: none;
    text-underline: none;
}

.fit-width {
    width: fit-content;
}

.row-div {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 60px;
}

.div-captcha {
    display: flex;
    text-align: left;
    justify-content: left;
}

.scan-qr-div {
    border-radius: 10px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.pt-7 {
    padding-top: 7px;
}

.help-qr-code {
    position: absolute;
    top: calc(var(--bs-gutter-x) * .5);
    right: 0;
}

.m-0 {
    margin: 0;
}

.float-left {
    float: left;
}

.pti-0 {
    padding-top: 0 !important;
}

.ps-6 {
    padding-left: 4rem !important;
}

.btn-green {
    background-color: #55bc5e !important;
    border-color: #55bc5e !important;
    color: #ffffff !important;
}

.btn-outline-green {
    background-color: transparent !important;
    border-color: #55bc5e !important;
    color: #55bc5e !important;
}

.btn-outline-green:hover {
    background-color: #55bc5e !important;
    border-color: #55bc5e !important;
    color: #ffffff !important;
}

.p-0-3 {
    padding: 0.38rem !important;
}

.homepage-link, .homepage-link:hover, .homepage-link:visited, .homepage-link:focus, .homepage-link:active {
    text-decoration: none;
    text-underline: none;
    color: black;
}

.ps-1-5 {
    padding-left: 1.5rem !important;
}

.pe-1-5 {
    padding-right: 1.5rem !important;
}

.lang_link, .lang_link:hover, .lang_link:focus, .lang_link:active {
    color: black;
}

.underline {
    text-decoration: underline !important;
}

.underline-none {
    text-decoration: none;
}

img.manufacturer_logo {
    display: inline-block;
    margin-bottom: 15px;
}

img.manufacturer_logo + div {
    display: inline-block !important;
    margin-left: 10px;
}