<div class="dropdown-menu multi-column dropdown-add" style="width: 420px;">
    <div class="container-fluid">
        <div class="row">
            <ul class="dropdown-menu col-md-12">
                {% if is_granted('ROLE_MANUFACTURER') and not is_granted('ROLE_SUPER_ADMIN') and not is_granted('ROLE_ADMIN') %}
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">
                        <a href="{{ url('update_profile') }}">
                            <i class="fa fa-user-circle-o"></i>
                            {{ 'Update Profile'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    </li>
                {% endif %}
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">
                    <a href="{{ url('app_logout') }}">
                        <i class="fa fa-sign-out"></i>
                        {{ 'Logout'|trans({}, 'SonataAdminBundle') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>