<div class="dropdown-menu multi-column dropdown-add" style="width: 420px;">
    <div class="container-fluid">
        <div class="row">
            <ul class="dropdown-menu col-md-12">
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">
                    <a href="{{ url('app_logout') }}">
                        <i class="fa fa-sign-out"></i>
                        {{ 'Logout'|trans({}, 'SonataAdminBundle') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>