<div style="color: #AAAAAA">
    <img src="https://banner2.cleanpng.com/20180126/xcw/kisspng-battery-charger-application-software-android-appli-battery-5a6abb35f3dec6.7607002715169441819989.jpg" alt="Batterychain Logo" width="100" style="background-color:black">
    <br>
    <p>{{ support_email }} | <a href="mailto:{{ support_email }}"> support.batterychain.info </a></p>
    <p>Batterychain | Headquarter</p>
    <p>xyz | abc abc</p>
    <br>
    <p>Diese Email und ihre Anlagen sind vertraulich. Wenn diese Email nicht für Sie bestimmt ist, benachrichtigen Sie bitte
        den Absender per Telefon oder Email und löschen diese Nachricht einschließlich etwaiger Anlagen aus Ihrem System.
        Wenn diese Email nicht für Sie bestimmt ist, dürfen Sie diese Email und ihre Anlage nicht vervielfältigen oder an
        Dritte weitergeben. Der Absender hat angemessene Vorkehrungen getroffen, um zu verhindern, dass diese Email
        Computerviren oder andere schädliche Codes enthält. Wir empfehlen den Empfängern der Email dennoch, als weitere
        Vorsichtsmaßnahme selbst eine Prüfung durchzuführen. Wir bedanken uns für Ihre Unterstützung.</p>
    <p>This email message and its attachments are confidential. If you are not the intended recipient,
        please inform the sender by telephone or email and delete this email and any attachment from your system.
        If you are not the intended recipient you must not copy this email or attachment or disclose the contents to any
        other person. The sender has taken reasonable precautions to ensure that this email does not contain computer
        viruses or any other hazardous codes, but advises recipients to perform their own checks as a further safeguard.
        Thank you for your cooperation.</p>
    <p>Diese E-Mail ist ein Service von Batterychain AG.</p>
</div>